@if(isOpen) {
    <div class="backdrop center" (click)="closeCategories(); closeDialog()">
        <div class="card column between fade-in-right" (click)="$event.stopPropagation()">
            <div class="heading">
                <h2>{{ dialog.addOrEdit }} {{ dialog.type }}</h2>
            </div>
    
            <div class="input-container column gap-10 center">
                @if(dialog.type !== 'settings') {
                    <div class="column gap-10 align-center w-100">
                        <label>{{ formatLabel(dialog.type) }} name</label>
                        <input id="name" type="text" #inputName [ngModel]="
                            dialog.addOrEdit === 'Edit'
                              ? dialog.type === 'budget'
                                ? data.clickedBudget?.name
                                : dialog.type === 'category'
                                ? data.clickedCategory?.name
                                : data.clickedExpense?.name
                              : null
                            " [placeholder]="'Enter ' + dialog.type + ' name...'">
                        @if(dialog.addOrEditRequestMade && !nameRegex.test(inputName.value)) {
                            <div class="error-message">
                                <span>{{ 'Only uppercase, lowercase and digits allowed!' }}</span>
                            </div>
                        } @else {
                            <div class="error-message">
                                <span></span>
                            </div>
                        }
                    </div>
                    @if(dialog.type === 'expense') {
                        <div class="dropdown" [class.active]="isDropdownOpened">
                            <div class="column gap-10 align-center w-100">
                                <label>Category</label>
                                <div (click)="toggleCategories($event)" class="dropdown-btn data left">
                                    {{ dialog.addOrEdit === 'Edit' ? dialog.category : data.selectedCategory }}
                                </div>
                            </div>
                            <ul class="dropdown-menu frequency">
                                @for(category of selectableCategories; track category) {
                                    <li (click)="selectCategory(category); toggleCategories($event)">
                                        <span>{{ category }}</span>
                                    </li>
                                }
                            </ul>
                        </div>
                        @if(dialog.addOrEditRequestMade && dialog.addOrEdit === 'Edit' && dialog.category === 'Select category') {
                            <div class="error-message">
                                <span>{{ 'You must select a category!' }}</span>
                            </div>
                        } @else if(dialog.addOrEditRequestMade && dialog.addOrEdit === 'Add' && data.selectedCategory === 'Select category') {
                            <div class="error-message">
                                <span>{{ 'You must select a category!' }}</span>
                            </div>
                        } @else {
                            <div class="error-message">
                                <span></span>
                            </div>
                        }
                    }
                    <div class="column gap-5 align-center w-100">
                        <label>{{ formatLabel(dialog.type) }} amount</label>
                        <input type="number" #amount [ngModel]="
                            dialog.addOrEdit === 'Edit'
                              ? dialog.type === 'budget'
                                ? data.clickedBudget?.amount
                                : dialog.type === 'category'
                                ? data.clickedCategory?.amount
                                : data.clickedExpense?.amount
                              : null
                            " [placeholder]="'Enter amount...'">
                        @if(dialog.addOrEditRequestMade && dialog.isAmountZero) {
                            <div class="error-message">
                                <span>{{ 'Amount must be bigger than 0!' }}</span>
                            </div>
                        } @else if(dialog.addOrEditRequestMade && dialog.isAmountTooLittle) {
                            <div class="error-message">
                                <span>{{ 'Amount too little!' }}</span>
                            </div>
                        } @else if(dialog.addOrEditRequestMade && dialog.isAmountTooBig) {
                            <div class="error-message">
                                <span>{{ 'Amount too big!' }}</span>
                            </div>
                        } @else {
                            <div class="error-message">
                                <span></span>
                            </div>
                        }
                    </div>
                } @else {
                    <div class="column gap-30 w-100">
                        <div class="row between setting-name align-center w-100">
                            <span>Username:</span>
                            <input class="settings-input" id="name" type="text" #inputName [ngModel]="data.currentUser?.name" [placeholder]="'Enter username...'">
                        </div>
    
                        <div class="row between align-center w-100">
                            <span>Password:</span>
                            <div class="btn-secondary">
                                <span>change</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            
            <div class="button-container row right gap-10">
                <div class="btn-secondary" (click)="closeDialog()">Cancel</div>
                <div class="btn-secondary d-none" [class.active]="dialog.addOrEdit === 'Edit' && dialog.type !== 'settings'" (click)="deleteCategory()">Delete</div>
                <div class="btn-primary d-none" [class.active]="dialog.type !== 'settings'" (click)="getData(inputName.nativeElement.value, amount.nativeElement.value)">{{ dialog.addOrEdit }}</div>
                <div class="btn-primary d-none" [class.active]="dialog.type == 'settings'"  (click)="getSettingsData(inputName.nativeElement.value)">Edit</div>
            </div>
        </div>
    </div>
}
