@if(isOpen) {
    <div class="backdrop center" (click)="closeCategories(); closeDialog()" [ngClass]="{ 'dark-mode': theme.isDarkmode }">
        <div class="card column between fade-in-right" (click)="$event.stopPropagation()">
            <div class="heading">
                <h2>{{ (dialog.addOrEdit.toLowerCase() + '-' + dialog.type.toLowerCase()) | translate }}</h2>
            </div>
    
            <div class="input-container column gap-10 center">
                @if(dialog.type !== 'settings') {
                    <div class="column gap-10 align-center w-100">
                        <label>{{ dialog.type + '-' + 'name' | translate }}</label>
                        <input id="name" type="text" #inputName [ngModel]="
                            dialog.addOrEdit === 'Edit'
                              ? dialog.type === 'budget'
                                ? data.clickedBudget?.name
                                : dialog.type === 'category'
                                ? data.clickedCategory?.name
                                : data.clickedExpense?.name
                              : null
                            " [placeholder]="'placeholder-enter-name' | translate">
                        @if(dialog.addOrEditRequestMade && !nameRegex.test(inputName.value)) {
                            <div class="error-message">
                                <span>{{ 'name-requirements' | translate }}</span>
                            </div>
                        } @else {
                            <div class="error-message">
                                <span></span>
                            </div>
                        }
                    </div>
                    @if(dialog.type === 'expense') {
                        <div class="dropdown" [class.active]="isDropdownOpened">
                            <div class="column gap-10 align-center w-100">
                                <label>{{ 'category' | translate }}</label>
                                <div (click)="toggleCategories($event)" class="dropdown-btn data left">
                                    {{ dialog.addOrEdit === 'Edit' ? dialog.category : data.selectedCategory }}
                                </div>
                            </div>
                            <ul class="dropdown-menu frequency">
                                @for(category of selectableCategories; track category) {
                                    <li (click)="selectCategory(category); toggleCategories($event)">
                                        <span>{{ category }}</span>
                                    </li>
                                }
                            </ul>
                        </div>
                        @if(dialog.addOrEditRequestMade && dialog.addOrEdit === 'Edit' && dialog.category === 'Select category') {
                            <div class="error-message">
                                <span>{{ 'must-select-category' | translate }}</span>
                            </div>
                        } @else if(dialog.addOrEditRequestMade && dialog.addOrEdit === 'Add' && data.selectedCategory === 'Select category') {
                            <div class="error-message">
                                <span>{{ 'must-select-category' | translate }}</span>
                            </div>
                        } @else {
                            <div class="error-message">
                                <span></span>
                            </div>
                        }
                    }
                    <div class="column gap-10 align-center w-100">
                        <label>{{ dialog.type + '-' + 'amount' | translate }}</label>
                        <input type="number" #amount [ngModel]="
                            dialog.addOrEdit === 'Edit'
                              ? dialog.type === 'budget'
                                ? data.clickedBudget?.amount
                                : dialog.type === 'category'
                                ? data.clickedCategory?.amount
                                : data.clickedExpense?.amount
                              : null
                            " [placeholder]="'enter-amount' | translate">
                        @if(dialog.addOrEditRequestMade && dialog.isAmountZero) {
                            <div class="error-message">
                                <span>{{ 'must-be-bigger-than-0' | translate }}</span>
                            </div>
                        } @else if(dialog.addOrEditRequestMade && dialog.isAmountTooLittle) {
                            <div class="error-message">
                                <span>{{ 'amount-too-little' | translate }}</span>
                            </div>
                        } @else if(dialog.addOrEditRequestMade && dialog.isAmountTooBig) {
                            <div class="error-message">
                                <span>{{ 'amount-too-big' | translate }}</span>
                            </div>
                        } @else {
                            <div class="error-message">
                                <span></span>
                            </div>
                        }
                    </div>

                    <div class="column w-100 align-center gap-15">
                        <div class="row gap-10 align-center checkbox-container">
                            @if(dialog.type === 'budget' || (dialog.type === 'category' && data.clickedBudget?.recreate)) {
                                @if(!theme.isDarkmode) {
                                    <img class="checkbox" [src]="isRecreateChecked ? 'img/checkbox-checked.svg' : 'img/checkbox-unchecked.svg'" (click)="toggleIsRecreateChecked()">
                                } @else {
                                    <img class="checkbox" [src]="isRecreateChecked ? 'img/checkbox-checked-white.svg' : 'img/checkbox-unchecked-white.svg'" (click)="toggleIsRecreateChecked()">
                                }
                                <span>{{ 'monthly-recreate' + '-' + dialog.type | translate }}</span>
                            }
                        </div>
                    </div>
                } @else {
                    <div class="column gap-30 w-100">
                        <div class="row between setting-name align-center w-100">
                            <span>{{ 'username' | translate }}:</span>
                            <input class="settings-input" id="name" type="text" #inputName [ngModel]="data.currentUser?.name" [placeholder]="'enter-username' | translate">
                        </div>
    
                        <div class="row between align-center w-100">
                            <span>{{ 'password' | translate }}:</span>
                            <div role="button" tabindex="0" class="btn-secondary">
                                <span (click)="logoutAndResetPassword()">{{ 'change' | translate }}</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            
            <div class="button-container row right gap-10">
                <div role="button" tabindex="0" class="btn-secondary" (click)="closeDialog()">{{ 'cancel' | translate }}</div>
                <div role="button" tabindex="0" class="btn-secondary d-none" [class.active]="dialog.addOrEdit === 'Edit' && dialog.type !== 'settings'" (click)="deleteCategory()">{{ 'delete' | translate}}</div>
                <div role="button" tabindex="0" class="btn-primary d-none" [class.active]="dialog.type !== 'settings'" (click)="getData(inputName.nativeElement.value, amount.nativeElement.value)">{{ dialog.addOrEdit | translate }}</div>
                <div role="button" tabindex="0" class="btn-primary d-none" [class.active]="dialog.type == 'settings'"  (click)="getSettingsData(inputName.nativeElement.value)">{{ 'edit' | translate }}</div>
            </div>
        </div>
    </div>
}
