<section class="center">
    <div class="card access column gap-30 center">
        <div class="center">
            <h2>Reset Password</h2>
        </div>

        <div class="column gap-5 center input-message-container">
            @if(!resetMailSent) {
                <input type="text" #email placeholder="Email...">
                @if(resetAttemptMade && !emailRegex.test(email.value)) {
                    <span class="error-message">{{ 'Invalid email!' }}</span>
                } @else {
                    <span class="error-message"></span>
                }
            } @else {
                <h4>{{ 'An email to reset your password has been sent.' }}</h4>
            }
        </div>

        <div class="button-container row gap-10">
            @if(!resetMailSent) {
                <div class="btn-primary" (click)="checkReset(email.nativeElement.value)">
                    <span>Reset Password</span>
                </div>
            }
        </div>
    </div>
</section>

