<section class="center">
    <div class="card access column gap-30 center fade-in-up">
        <div class="center txt-center">
            <h2>{{ 'reset-password' | translate}}</h2>
        </div>

        @if(!isResetSuccessful) {
            <div class="column gap-10 center">
                <div class="column gap-5 center">
                    <div class="column center gap-5 input-error-container">
                        <input #code type="text" [placeholder]="'placeholder-verification-code' | translate">
                        @if(resetAttemptMade && !isVaildVerificationCode) {
                            <span class="error-message">{{ 'verification-code-invalid' | translate }}</span>
                        } @else {
                            <span class="error-message"></span>
                        }
                    </div>
                    <div class="column center gap-5 input-error-container">
                        <input #password type="password" [placeholder]="'placeholder-new-password' | translate">
                        @if(resetAttemptMade && password.value.length < 1) {
                            <span class="error-message">{{ 'enter-password' | translate }}</span>
                        } @else if(resetAttemptMade && password.value.length < 6) {
                            <span class="error-message">{{ 'password-too-short' | translate }}</span>
                        } @else if(resetAttemptMade && !passwordRegex.test(password.value)) {
                            <span class="error-message">{{ 'password-requirements' | translate }}</span>
                        } @else {
                            <span class="error-message"></span>
                        }
                    </div>
                    <div class="column center gap-5 input-error-container">
                        <input #repeatedPassword type="password" [placeholder]="'placeholder-repeat-new-password' | translate">
                        @if(resetAttemptMade && repeatedPassword.value !== password.value) {
                            <span class="error-message">{{ 'passwords-do-not-match' | translate }}</span>
                        } @else {
                            <span class="error-message"></span>
                        }
                    </div>
                </div>
        
                <div class="button-container row gap-10">
                    <div class="btn-primary" (click)="checkReset(code.value, password.value, repeatedPassword.value)">
                        <span>{{ 'reset-password' | translate }}</span>
                    </div>
                </div>
            </div>
        } @else {
            <div class="confirmation-message align-center">
                <h4>{{ 'reset-password-confirmation-message' | translate  }}</h4>
            </div>
        }
    </div>
</section>
