<section class="center">
    <div class="card access column gap-30 center fade-in-up">
        <div class="center">
            <h2>{{ 'reset-password' | translate }}</h2>
        </div>

        <div class="column gap-5 center input-message-container">
            @if(!resetMailSent) {
                <input type="text" #email [placeholder]="'placeholder-email' | translate">
                @if(resetAttemptMade && !emailRegex.test(email.value)) {
                    <span class="error-message">{{ 'email-invalid' | translate }}</span>
                } @else {
                    <span class="error-message"></span>
                }
            } @else {
                <div class="confirmation-message align-center">
                    <h4>{{ 'reset-password-mail-sent' | translate }}</h4>
                </div>
            }
        </div>

        <div class="button-container row gap-10" [class.no-min-height]="resetMailSent">
            @if(!resetMailSent) {
                <div class="btn-primary" (click)="checkReset(email.nativeElement.value)">
                    <span>{{' reset-password' | translate }}</span>
                </div>
            }
        </div>
    </div>
</section>

