@use 'variables' as *;

.category-container {
    width: 100%;
    height: fit-content;
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 15px 20px;
    
    .information {
        height: 0;
        transition: $transition-medium;
        margin-top: 0;
        overflow: hidden;
    }
}

.isActiveCategory {
    border-color: $wine;
    
    .information {
        height: 55px;
        margin-top: 15px;
        transition: $transition-medium;
    }

    .name {
        font-weight: 600;
    }
}


@media(max-width: 1000px) {
    .select-budget-container {
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width: 500px) {
    .btn-primary span {
        display: block !important;
    }
}