<div class="section-container column gap-30 fade-in-up" (click)="closeCategories(); closeMonths();" [ngClass]="{ 'dark-mode': theme.isDarkmode }">
    <div class="heading-container between align-center">
        <h1>{{'archived-expenses' | translate }}</h1>

        <div class="row align-center gap-10">
            <div role="button" tabindex="0" class="btn-primary gap-10" routerLink="/archive">
                <span>{{ 'back' | translate }}</span>
            </div>
        </div>
    </div>

    <div class="content-container column gap-15">
        @if(!data.archivedBudgetsArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'create-budget-and-category-first' | translate }}</h4>
            </div>
        } @else if(!data.archivedCategoriesArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'no-categories-yet' | translate }}</h4>
            </div>
        } @else if(!data.archivedExpensesArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'no-expenses-yet' | translate }}</h4>
            </div>
        } @else {
            @if(data.clickedBudget) {
                <div class="w-100 row between align-center">
                    <div role="button" tabindex="0" class="btn-secondary filter row gap-10 align-center" (click)="toggleFilter()">
                        <img src="img/filter.svg">
                        <span>{{ 'filter' | translate }}</span>
                    </div>
                </div>

                <div class="row between filter-container align-center gap-15" [class.isVisible]="isFilterVisible">
                    <div class="filter-content row gap-15 align-center">
                        <div class="input-container">
                            <input type="text" [(ngModel)]="filterInputValue" [placeholder]="'search' | translate" (keyup)="getInput($event)">
                            @if(filterInputValue.length) {
                                <div class="img-container center" (click)="resetFilterInputValue(); resetFilter()">
                                    <img src="img/delete.svg">
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row between w-100 align-center">
                        <div class="row gap-15">
                            <div class="dropdown" [class.active]="isMonthsDropdownOpened">
                                <div (click)="toggleMonths($event)" class="dropdown-btn data">{{ selectedMonth !== '' ? selectedMonth : 'month' | translate }}</div>
                                <ul class="dropdown-menu frequency">
                                    @for(month of months; track $index) {
                                        <li (click)="selectMonth(month); toggleMonths($event)">
                                            <span>{{ month }}</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="dropdown" [class.active]="isCategoriesDropdownOpened">
                                <div (click)="toggleCategories($event)" class="dropdown-btn data">{{ selectedCategory !== '' ? selectedCategory : 'category' | translate }}</div>
                                <ul class="dropdown-menu frequency">
                                    @for(category of data.archivedCategoriesOfClickedBudget; track $index) {
                                        <li (click)="selectCategory(category.name); toggleCategories($event)">
                                            <span>{{ category.name }}</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        @if(isFilterActive) {
                            <div role="button" tabindex="0" class="btn-primary center reset-filter" (click)="resetFilter()">
                                <img [src]="theme.isDarkmode ? 'img/delete-pink.svg' : 'img/delete-white.svg'" alt="Reset">
                            </div>
                        }
                    </div>
                </div>
    
                <div class="row start">
                    <div class="row gap-15 align-center">
                        <h4>{{ 'current-available' | translate }}:</h4>
                        <span class="number" [class]="data.calculateCurrentAvailable() > 0 ? 'txt-green' : 'txt-red'">
                            {{ data.calculateCurrentAvailable() > 0 ? '+ ' : '- ' }}
                            {{ utils.formatNumber(data.calculateCurrentAvailable()) }}</span>
                    </div>
                </div>
    
                <div class="column table gap-20">
                    <div class="column gap-10 sticky table-head">
                        <div class="row between header gap-15">
                            <div class="row between align-center">
                                <h4>{{ 'name' | translate }}</h4>
                                <img [src]="theme.isDarkmode ? 'img/sort-light.svg' : 'img/sort.svg'" (click)="sortExpensesByName()">
                            </div>
                            <div class="row between align-center">
                                <h4>{{ 'category' | translate }}</h4>
                                <img [src]="theme.isDarkmode ? 'img/sort-light.svg' : 'img/sort.svg'" (click)="sortExpensesByCategory()">
                            </div>
                            <div class="row between align-center">
                                <h4>{{ 'amount' | translate }}</h4>
                                <img [src]="theme.isDarkmode ? 'img/sort-light.svg' : 'img/sort.svg'" (click)="sortExpensesByAmount()">
                            </div>
                        </div>
                    
                        <div class="line wine"></div>
                    </div>
    
                    <div class="column gap-5">
                        @for(expense of data.filteredArchivedExpenses; track $index) {
                            <div class="single-expense column gap-10">
                                <div class="row between header gap-15">
                                    <div>{{ expense.name }}</div>
                                    <div>{{ expense.category }}</div>
                                    <div class="number txt-red">- {{ utils.formatNumber(expense.amount) }}</div>
                                </div>
    
                                <div class="expense-date-container row between">
                                    <span>{{ 'created' | translate }}</span>
                                    @if(language.currentLanguage === 'en') {
                                        <span>{{ expense.created | date:'M/d/yy, h:mm a' }}</span>
                                    } @else if(language.currentLanguage === 'de') {
                                        <span>{{ expense.created | date:'dd.MM.yyyy, HH:mm' }}</span>
                                    } @else if(language.currentLanguage === 'es') {
                                        <span>{{ expense.created | date:'dd/MM/yyyy, h:mm a' }}</span>
                                    } @else {
                                        <span>{{ expense.created | date:'dd/MM/yyyy, HH:mm' }}</span>
                                    }
                                </div>
                            </div>
                        
                            <div class="line gray"></div>
                        }
                    </div>

                    <div class="column gap-10">
                        <div class="sum-container row between">
                            <span class="txt-bold">{{ 'expenses-result' | translate }}</span>
                            <span class="number txt-red">- {{ utils.formatNumber(calculateCurrentBudgetSum()) }}</span>
                        </div>
                        <div class="line-container column gap-5">
                            <div class="line gray"></div>
                            <div class="line gray"></div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

