@if(isOpen) {
    <div class="backdrop center" (click)="closeDialog()">
        <div class="card column between confirmation-card" (click)="$event.stopPropagation()">
            <div class="heading">
                <h2>Attention</h2>
            </div>

            @if(dialog.confirmationType === 'category') {
                <div class="center">
                    <h4>Deleting this category will also remove all associated expenses.</h4>
                </div>
            }
            @if(dialog.confirmationType === 'account') {
                <div class="center">
                    <h4>This action will permanently delete your account.</h4>
                </div>
            }
            
            <div class="button-container row right gap-10">
                <div class="btn-secondary" (click)="closeDialog()">Cancel</div>
                <div class="btn-primary" (click)="deleteData()">Delete</div>
            </div>
        </div>
    </div>
}