@if(isOpen) {
    <div class="backdrop center" (click)="closeDialog()" [ngClass]="{ 'dark-mode': theme.isDarkmode }">
        <div class="card column between confirmation-card" (click)="$event.stopPropagation()">
            <div class="heading">
                <h2>{{ 'attention' | translate }}</h2>
            </div>

            @if(dialog.confirmationType === 'category') {
                <div class="center">
                    <h4>{{ 'confirmation-message-1' | translate }}</h4>
                </div>
            }
            @if(dialog.confirmationType === 'account') {
                <div class="center">
                    <h4>{{ 'confirmation-message-2' | translate }}</h4>
                </div>
            }
            @if(dialog.confirmationType === 'delete-guest') {
                <div class="center">
                    <h4>{{ 'confirmation-message-3' | translate }}</h4>
                </div>
            }
            @if(dialog.confirmationType === 'edit-guest') {
                <div class="center">
                    <h4>{{ 'confirmation-message-4' | translate }}</h4>
                </div>
            }
            
            <div class="button-container row right gap-10">
                <div class="btn-secondary" (click)="closeDialog()">{{ 'cancel' | translate }}</div>
                @if(dialog.confirmationType !== 'delete-guest' && dialog.confirmationType !== 'edit-guest') {
                    <div class="btn-primary" (click)="deleteData()">{{ 'delete' | translate }}</div>
                }
            </div>
        </div>
    </div>
}