@use 'variables' as *;

header {
    height: 80px;
    width: 100%;
    background-color: $wine;
    padding: 0 20px;
    z-index: 99;
    position: relative;
    box-shadow: 0 0 10px 5px rgba($color: $black, $alpha: 0.2);

    .logo {
        height: 60px;
        width: 60px;
        object-fit: contain;
    }

    .heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: $white;
    }

    div.align-center img {
        height: 25px;
        width: 25px;
        object-fit: contain;

        &:hover {
            filter: brightness(0.8);
            cursor: pointer;
        }
    }
    
    .help {
        font-size: 25px;
        font-weight: 700;
        color: $white;
        
        &:hover {
            filter: brightness(0.8);
            cursor: pointer;
        }
    }
}

@media(max-width: 800px) {
    header {
        .heading {
            display: none;
        }
    }
}