<header class="between header" [ngClass]="{ 'dark-mode': theme.isDarkmode }">
    <div class="center gap-25">
        <img src="img/logo-white.svg" class="logo">
        <span class="heading">Expense Tracker</span>
    </div>
    
    <div class="row gap-25 align-center">
        <div class="center">
            <span class="help" routerLink="/help" routerLinkActive="isActive">?</span>
        </div>
        <img src="img/settings.svg" routerLink="/settings" routerLinkActive="isActive">
        <img src="img/logout.svg" (click)="logOut()">
    </div>
</header>
