:host {
    position: relative;
    display: block;
    height: 100vh;
}

@media(max-width: 800px) {
    :host {
        display: block;
        height: 100dvh;
    }

    .nav-content-container {
        flex-direction: column-reverse;
        height: calc(100vh - 80px);
    }
}