@use 'variables' as *;

.stats-container {
    height: 60vh;
    overflow: auto;
}

.stats-row {
    width: 100%;
    height: fit-content;
    border: 1px solid $gray;
    border-radius: 20px;
    padding: 15px 20px;

    span:last-of-type {
        color: $red;
        font-weight: 600;
    }
}