<div class="content-container privacy-policy-container column">
    <p>Última actualización: 23 de marzo de 2025</p><br>
    <p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>
    <p>Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, usted acepta la recopilación y el uso de la información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad se ha creado con la ayuda del <a href="https://www.termsfeed.com/privacy-policy-generator/" target="_blank">Generador de Políticas de Privacidad</a>.</p>
    <h3>Interpretación y Definiciones</h3>
    <h3>Interpretación</h3>
    <p>Las palabras cuya primera letra está en mayúscula tienen significados definidos en las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado, independientemente de si aparecen en singular o en plural.</p>
    <h3>Definiciones</h3>
    <p>Para los fines de esta Política de Privacidad:</p>
    <ul>
      <li>
        <p><strong>Cuenta</strong> significa una cuenta única creada para que usted acceda a nuestro Servicio o a partes de nuestro Servicio.</p>
      </li>
      <li>
        <p><strong>Afiliado</strong> significa una entidad que controla, es controlada por o está bajo control común con una parte, donde “control” significa la propiedad del 50% o más de las acciones, intereses de capital u otros valores con derecho a voto para la elección de directores u otra autoridad directiva.</p>
      </li>
      <li>
        <p><strong>Compañía</strong> (referida como “la Compañía”, “Nosotros”, “Nos” o “Nuestro” en este Acuerdo) se refiere a Expense Tracker.</p>
      </li>
      <li>
        <p><strong>Cookies</strong> son pequeños archivos que se colocan en su computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen detalles de su historial de navegación en ese sitio web, entre sus muchos usos.</p>
      </li>
      <li>
        <p><strong>País</strong> se refiere a: Massachusetts, Estados Unidos</p>
      </li>
      <li>
        <p><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono móvil o una tableta digital.</p>
      </li>
      <li>
        <p><strong>Datos Personales</strong> es cualquier información que se relacione con una persona identificada o identificable.</p>
      </li>
      <li>
        <p><strong>Servicio</strong> se refiere al Sitio Web.</p>
      </li>
      <li>
        <p><strong>Proveedor de Servicios</strong> significa cualquier persona natural o jurídica que procese los datos en nombre de la Compañía. Se refiere a empresas o individuos terceros contratados por la Compañía para facilitar el Servicio, proporcionar el Servicio en nombre de la Compañía, realizar servicios relacionados con el Servicio o asistir a la Compañía en el análisis del uso del Servicio.</p>
      </li>
      <li>
        <p><strong>Datos de Uso</strong> se refiere a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o a partir de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</p>
      </li>
      <li>
        <p><strong>Sitio Web</strong> se refiere a Expense Tracker, accesible desde <a href="https://lukasbusch.dev/expensetracker" rel="external nofollow noopener" target="_blank">https://lukasbusch.dev/expensetracker</a></p>
      </li>
      <li>
        <p><strong>Usted</strong> significa la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
      </li>
    </ul>
    <h3>Recopilación y Uso de sus Datos Personales</h3>
    <h3>Tipos de Datos Recopilados</h3>
    <h4>Datos Personales</h4>
    <p>Mientras utiliza nuestro Servicio, es posible que le solicitemos que nos proporcione cierta información personalmente identificable que se pueda utilizar para contactarlo o identificarlo. La información personalmente identificable puede incluir, entre otros:</p>
    <ul>
      <li>
        <p>Dirección de correo electrónico</p>
      </li>
      <li>
        <p>Datos de Uso</p>
      </li>
    </ul>
    <h4>Datos de Uso</h4>
    <p>Los Datos de Uso se recopilan automáticamente al utilizar el Servicio.</p>
    <p>Los Datos de Uso pueden incluir información como la dirección IP de su dispositivo (por ejemplo, IP), el tipo de navegador, la versión del navegador, las páginas de nuestro Servicio que visita, la fecha y hora de su visita, el tiempo que pasa en esas páginas, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
    <p>Cuando accede al Servicio mediante un dispositivo móvil, podemos recopilar cierta información automáticamente, incluyendo, entre otros, el tipo de dispositivo móvil que utiliza, el identificador único de su dispositivo móvil, la dirección IP de su dispositivo móvil, el sistema operativo de su dispositivo móvil, el tipo de navegador móvil que utiliza, identificadores únicos de dispositivos y otros datos de diagnóstico.</p>
    <p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio mediante un dispositivo móvil.</p>
    <h4>Tecnologías de Seguimiento y Cookies</h4>
    <p>Utilizamos Cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
    <ul>
      <li><strong>Cookies o Cookies del Navegador.</strong> Una cookie es un pequeño archivo colocado en su dispositivo. Puede configurar su navegador para rechazar todas las cookies o para indicar cuándo se envía una cookie. Sin embargo, si no acepta cookies, es posible que no pueda utilizar algunas partes de nuestro Servicio. A menos que haya ajustado la configuración de su navegador para rechazar cookies, nuestro Servicio puede usar cookies.</li>
      <li><strong>Balizas Web.</strong> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden contener pequeños archivos electrónicos conocidos como balizas web (también llamadas clear gifs, pixel tags y gifs de un solo píxel) que permiten a la Compañía, por ejemplo, contar a los usuarios que han visitado esas páginas o abierto un correo electrónico y para otras estadísticas relacionadas con el sitio web (por ejemplo, registrar la popularidad de una sección determinada y verificar la integridad del sistema y del servidor).</li>
    </ul>
    <p>Las cookies pueden ser "Persistentes" o "De sesión". Las Cookies Persistentes permanecen en su computadora personal o dispositivo móvil cuando se desconecta, mientras que las Cookies de sesión se eliminan tan pronto como cierra su navegador. Puede obtener más información sobre las cookies en el artículo de <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">TermsFeed</a>.</p>
    <p>Utilizamos tanto Cookies de sesión como persistentes para los fines descritos a continuación:</p>
    <ul>
      <li>
        <p><strong>Cookies Necesarias / Esenciales</strong></p>
        <p>Tipo: Cookies de sesión</p>
        <p>Administradas por: Nosotros</p>
        <p>Propósito: Estas cookies son esenciales para proporcionarle los servicios disponibles a través del Sitio Web y para permitirle utilizar algunas de sus funciones. Ayudan a autenticar a los usuarios y a prevenir el uso fraudulento de las cuentas de usuario. Sin estas cookies, no se pueden proporcionar los servicios que ha solicitado, y solo las utilizamos para brindarle dichos servicios.</p>
      </li>
      <li>
        <p><strong>Cookies de Aceptación de Política de Cookies</strong></p>
        <p>Tipo: Cookies persistentes</p>
        <p>Administradas por: Nosotros</p>
        <p>Propósito: Estas cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio Web.</p>
      </li>
      <li>
        <p><strong>Cookies de Funcionalidad</strong></p>
        <p>Tipo: Cookies persistentes</p>
        <p>Administradas por: Nosotros</p>
        <p>Propósito: Estas cookies nos permiten recordar las elecciones que usted realiza cuando utiliza el Sitio Web, como recordar sus datos de inicio de sesión o la preferencia de idioma. El propósito de estas cookies es brindarle una experiencia más personal y evitar que tenga que volver a ingresar sus preferencias cada vez que utiliza el Sitio Web.</p>
      </li>
    </ul>
    <p>Para obtener más información sobre las cookies que usamos y sus opciones, consulte nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>
    <h3>Uso de sus Datos Personales</h3>
    <p>La Compañía puede utilizar los Datos Personales para los siguientes fines:</p>
    <ul>
      <li>
        <p><strong>Proporcionar y mantener nuestro Servicio</strong>, incluido el monitoreo del uso de nuestro Servicio.</p>
      </li>
      <li>
        <p><strong>Gestionar su Cuenta:</strong> para gestionar su registro como usuario del Servicio. Los Datos Personales que proporciona pueden darle acceso a diferentes funcionalidades del Servicio disponibles para usted como usuario registrado.</p>
      </li>
      <li>
        <p><strong>Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento y realización del contrato de compra de los productos, artículos o servicios que ha adquirido o de cualquier otro contrato con nosotros a través del Servicio.</p>
      </li>
      <li>
        <p><strong>Para contactarlo:</strong> para contactarlo por correo electrónico, llamadas telefónicas, SMS u otras formas equivalentes de comunicación electrónica, como las notificaciones push de una aplicación móvil, en relación con actualizaciones o comunicaciones informativas sobre las funcionalidades, productos o servicios contratados, incluidas las actualizaciones de seguridad, cuando sea necesario o razonable para su implementación.</p>
      </li>
      <li>
        <p><strong>Para ofrecerle</strong> noticias, ofertas especiales e información general sobre otros bienes, servicios y eventos que ofrecemos y que son similares a los que ya ha adquirido o consultado, a menos que haya optado por no recibir dicha información.</p>
      </li>
      <li>
        <p><strong>Para gestionar sus solicitudes:</strong> para atender y gestionar sus solicitudes hacia nosotros.</p>
      </li>
      <li>
        <p><strong>Para transacciones comerciales:</strong> Podemos utilizar su información para evaluar o realizar una fusión, escisión, reestructuración, reorganización, disolución o otra venta o transferencia de algunos o todos nuestros activos, ya sea como una empresa en funcionamiento o como parte de un proceso de quiebra, liquidación o procedimiento similar, en el cual los Datos Personales que tenemos sobre los usuarios de nuestro Servicio estén entre los activos transferidos.</p>
      </li>
      <li>
        <p><strong>Para otros fines:</strong> Podemos utilizar su información para otros fines, como análisis de datos, identificación de tendencias de uso, determinación de la efectividad de nuestras campañas promocionales y para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.</p>
      </li>
    </ul>
    <p>Podemos compartir su información personal en las siguientes situaciones:</p>
    <ul>
      <li><strong>Con Proveedores de Servicios:</strong> Podemos compartir su información personal con proveedores de servicios para monitorear y analizar el uso de nuestro Servicio, para contactarlo.</li>
      <li><strong>Para transacciones comerciales:</strong> Podemos compartir o transferir su información personal en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Compañía, financiación o adquisición de la totalidad o parte de nuestro negocio a otra empresa.</li>
      <li><strong>Con Afiliados:</strong> Podemos compartir su información con nuestros afiliados, en cuyo caso exigiremos que esos afiliados respeten esta Política de Privacidad. Los afiliados incluyen a nuestra empresa matriz y cualquier otra subsidiaria, socio conjunto u otras empresas que controlamos o que estén bajo control común con nosotros.</li>
      <li><strong>Con socios comerciales:</strong> Podemos compartir su información con nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
      <li><strong>Con otros usuarios:</strong> cuando comparte información personal o interactúa de alguna manera en áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y distribuida públicamente.</li>
      <li><strong>Con su consentimiento:</strong> Podemos divulgar su información personal para cualquier otro propósito con su consentimiento.</li>
    </ul>
    <h3>Conservación de sus Datos Personales</h3>
    <p>La Compañía conservará sus Datos Personales únicamente durante el tiempo que sea necesario para los fines establecidos en esta Política de Privacidad. Conservaremos y utilizaremos sus Datos Personales en la medida en que sea necesario para cumplir con nuestras obligaciones legales (por ejemplo, si se nos requiere conservar sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
    <p>La Compañía también conservará los Datos de Uso para fines de análisis interno. Generalmente, los Datos de Uso se conservan por un período de tiempo más corto, excepto cuando estos datos se utilizan para reforzar la seguridad o para mejorar la funcionalidad de nuestro Servicio, o cuando estemos legalmente obligados a conservar estos datos por períodos de tiempo más largos.</p>
    <h3>Transferencia de sus Datos Personales</h3>
    <p>Su información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Compañía y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Esto significa que esta información puede ser transferida a — y mantenida en — computadoras ubicadas fuera de su estado, provincia, país o cualquier otra jurisdicción gubernamental donde las leyes de protección de datos puedan diferir de las de su jurisdicción.</p>
    <p>Su consentimiento a esta Política de Privacidad, seguido de la presentación de dicha información, representa su acuerdo a dicha transferencia.</p>
    <p>La Compañía tomará todas las medidas razonables necesarias para garantizar que sus datos se traten de forma segura y de acuerdo con esta Política de Privacidad, y ninguna transferencia de sus Datos Personales tendrá lugar a una organización o a un país a menos que existan controles adecuados, incluida la seguridad de sus datos y otra información personal.</p>
    <h3>Eliminación de sus Datos Personales</h3>
    <p>Usted tiene el derecho de eliminar o solicitar que le ayudemos a eliminar los Datos Personales que hayamos recopilado sobre usted.</p>
    <p>Es posible que nuestro Servicio le ofrezca la opción de eliminar cierta información sobre usted directamente desde el mismo Servicio.</p>
    <p>Usted puede actualizar, corregir o eliminar su información en cualquier momento iniciando sesión en su Cuenta, si dispone de una, y visitando la sección de configuración de la cuenta que le permite gestionar su información personal. También puede ponerse en contacto con nosotros para solicitar acceso, corrección o eliminación de cualquier información personal que nos haya proporcionado.</p>
    <p>Tenga en cuenta, sin embargo, que podemos necesitar conservar cierta información cuando tengamos una obligación legal o una base legal para hacerlo.</p>
    <h3>Divulgación de sus Datos Personales</h3>
    <h4>Transacciones comerciales</h4>
    <p>Si la Compañía se involucra en una fusión, adquisición o venta de activos, sus Datos Personales pueden ser transferidos. Le notificaremos antes de que sus Datos Personales sean transferidos y queden sujetos a una Política de Privacidad diferente.</p>
    <h4>Aplicación de la ley</h4>
    <p>Bajo ciertas circunstancias, la Compañía puede estar obligada a divulgar sus Datos Personales si la ley lo requiere o en respuesta a solicitudes válidas de las autoridades públicas (por ejemplo, un tribunal o una agencia gubernamental).</p>
    <h4>Otros requisitos legales</h4>
    <p>La Compañía puede divulgar sus Datos Personales de buena fe cuando crea que tal acción es necesaria para:</p>
    <ul>
      <li>Cumplir con una obligación legal</li>
      <li>Proteger y defender los derechos o la propiedad de la Compañía</li>
      <li>Prevenir o investigar posibles irregularidades en relación con el Servicio</li>
      <li>Proteger la seguridad personal de los usuarios del Servicio o del público</li>
      <li>Proteger contra la responsabilidad legal</li>
    </ul>
    <h3>Seguridad de sus Datos Personales</h3>
    <p>La seguridad de sus Datos Personales es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro. Aunque nos esforzamos por utilizar medios comercialmente aceptables para proteger sus Datos Personales, no podemos garantizar su seguridad absoluta.</p>
    <h3>Privacidad de los Niños</h3>
    <p>Nuestro Servicio no está dirigido a nadie menor de 13 años. No recopilamos conscientemente información personalmente identificable de nadie menor de 13 años. Si usted es padre o tutor y tiene conocimiento de que su hijo nos ha proporcionado Datos Personales, por favor contáctenos. Si nos damos cuenta de que hemos recopilado Datos Personales de alguien menor de 13 años sin la verificación del consentimiento de los padres, tomaremos medidas para eliminar esa información de nuestros servidores.</p>
    <p>Si necesitamos basarnos en el consentimiento como base legal para procesar su información y su país requiere el consentimiento de un padre, es posible que necesitemos obtener el consentimiento de su padre antes de recopilar y utilizar esa información.</p>
    <h3>Enlaces a Otros Sitios Web</h3>
    <p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por nosotros. Si hace clic en un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de Privacidad de cada sitio que visite.</p>
    <p>No tenemos control sobre, ni asumimos responsabilidad por, el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.</p>
    <h3>Cambios a esta Política de Privacidad</h3>
    <p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
    <p>Le informaremos por correo electrónico y/o mediante un aviso destacado en nuestro Servicio, antes de que el cambio entre en vigor y actualizaremos la fecha de “Última actualización” en la parte superior de esta Política de Privacidad.</p>
    <p>Se le recomienda revisar esta Política de Privacidad periódicamente para enterarse de cualquier cambio. Los cambios a esta Política de Privacidad entran en vigencia cuando se publican en esta página.</p>
    <h3>Contáctenos</h3>
    <p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:</p>
    <ul>
      <li>
        <p>Por correo electrónico: webdeveloper&#64;lukasbusch.dev</p>
      </li>
      <li>
        <p>Visitando esta página en nuestro sitio web: <a href="https://lukasbusch.dev" rel="external nofollow noopener" target="_blank">https://lukasbusch.dev</a></p>
      </li>
    </ul>
</div>
