<div class="section-container column between" (click)="closeLanguages()">
    <div class="column gap-50">
        <div class="heading-container between">
            <h1>Settings</h1>
            <div class="row gap-10 btn-primary" (click)="openDialog('edit-settings')">
                <img class="edit" src="img/edit.svg">
                <span>Edit</span>
            </div>
        </div>
    
        <div class="content-container column between">
            <div class="column gap-50">
                <div class="row between align-center data-row">
                    <span>Language:</span>
                    <div class="dropdown" [class.active]="isDropdownOpened">
                        <div (click)="toggleLanguages($event)" class="dropdown-btn data">{{ selectedLanguage }}</div>
                        <ul class="dropdown-menu frequency">
                            @for(language of selectableLanguages; track language) {
                                <li (click)="selectLanguage(language); toggleLanguages($event)">
                                    <span>{{ language }}</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row between align-center data-row">
                    <span>Username:</span>
                    <span>{{ data.currentUser?.name }}</span>
                </div>   
                <div class="row between align-center data-row">
                    <span>Email:</span>
                    <span>{{ data.currentUser?.email }}</span>
                </div>  
                <div class="row between align-center data-row">
                    <span>Password:</span>
                    <span>*****</span>
                </div>
            </div>
        </div>
    </div>

    <div class="right btn-container">
        <div class="btn-primary" (click)="deleteAccount('account')">
            <span>Delete Account</span>
        </div>
    </div>
</div>
