<div class="section-container column between fade-in-up" (click)="language.closeLanguages()">
    <div class="column gap-50">
        <div class="heading-container between align-center">
            <h1>{{ 'settings' | translate  }}</h1>
            <div class="row gap-10 btn-primary" (click)="openDialog('edit-settings')">
                <img class="edit" src="img/edit.svg">
                <span>{{ 'edit' | translate }}</span>
            </div>
        </div>
    
        <div class="content-container column between">
            <div class="column gap-50">
                <div class="row between align-center data-row">
                    <span>{{ 'language' | translate }}:</span>
                    <div class="dropdown" [class.active]="language.isDropdownOpened">
                        <div (click)="language.toggleLanguages($event)" class="dropdown-btn data">{{ language.selectedLanguage }}</div>
                        <ul class="dropdown-menu frequency">
                            @for(selectableLanguage of language.selectableLanguages; track selectableLanguage) {
                                <li (click)="language.selectLanguage(selectableLanguage); language.toggleLanguages($event)">
                                    <span>{{ selectableLanguage }}</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="row between align-center data-row">
                    <span>{{ 'username' | translate }}:</span>
                    <span>{{ data.currentUser?.name }}</span>
                </div>   
                <div class="row between align-center data-row">
                    <span>{{ 'email' | translate }}:</span>
                    <span>{{ data.currentUser?.email }}</span>
                </div>  
                <div class="row between align-center data-row">
                    <span>{{ 'password' | translate }}:</span>
                    <span>*****</span>
                </div>
            </div>
        </div>
    </div>

    <div class="right btn-container">
        <div class="btn-primary" (click)="deleteAccount('account')">
            <span class="delete-account">{{ 'delete-account' | translate }}</span>
        </div>
    </div>
</div>
