@use 'variables' as *;

.content-container {
    height: fit-content;
}

.data-row span:first-of-type {
    font-weight: 600;
}

.btn-container {
    width: 100%;
}

.dropdown-menu {
    left: unset;
    right: 0;
}

.edit {
    height: 20px;
    width: 20px;
    object-fit: contain;
    
    &:hover {
        cursor: pointer;
    }
}

@media (pointer: coarse) {
    .edit:hover {
        cursor: default !important;
    }
  }