@use 'variables' as *;

.content-container {
    height: fit-content;
}

.data-row span:first-of-type {
    font-weight: 600;
}

.btn-container {
    width: 100%;
}

.dropdown-menu {
    left: unset;
    right: 0;
}