<section class="center">
    <div class="card access column gap-30 center">
        <div class="center">
            <h2>Login</h2>
        </div>

        <div class="column gap-20 center">
            <input type="text" placeholder="Email or username...">
            <input type="text" placeholder="Password...">
            
            <div class="row gap-15">
                <img src="">
                <span>Remember me</span>
            </div>
        </div>

        <div class="links row gap-15">
            <span routerLink="/access-legal-notice">Legal notice</span>
            <span routerLink="/access-privacy-policy">Privacy policy</span>
        </div>

        <div class="button-container row gap-10">
            <div class="btn-primary">
                <span>Login</span>
            </div>
            <div class="btn-secondary">
                <span>Guest</span>
            </div>
        </div>
    </div>
</section>
