@if(loading.isLoading) {
    <div class="center spinner-container">
        <div class="spinner"></div>
    </div>
} @else {
    <section class="center">
        <div class="card access column gap-30 center fade-in-up">
            <div class="center">
                <h2>{{ 'login' | translate }}</h2>
            </div>
    
            <div class="column gap-20 center">
                <div class="column gap-10 center">
                    <div class="column gap-20 center">
                        <input type="text" [(ngModel)]="emailOrName" [placeholder]="'placeholder-email-or-username' | translate ">
                        <input type="password" [(ngModel)]="password" [placeholder]="'placeholder-password' | translate">
                        
                        <div class="row gap-10 align-center">
                            @if(!theme.isDarkmode) {
                                <img class="checkbox" [src]="isChecked ? 'img/checkbox-checked.svg' : 'img/checkbox-unchecked.svg'" (click)="toggleIsChecked()">
                            } @else {
                                <img class="checkbox" [src]="isChecked ? 'img/checkbox-checked-white.svg' : 'img/checkbox-unchecked-white.svg'" (click)="toggleIsChecked()">
                            }
                            <span>{{ 'remember-me' | translate }}</span>
                        </div>
                    </div>
                    
                    <div class="center">
                        @if(loginAttempted && !isUserFound) {
                            <span class="error-message">{{ 'login-invalid' | translate }}</span>
                        } @else {
                            <span class="error-message"></span>
                        }
                    </div>
                </div>
        
                <div class="column links gap-10">
                    <div class="row gap-15">
                        <span routerLink="/access-legal-notice">{{ 'legal-notice' | translate }}</span>
                        <span routerLink="/access-privacy-policy">{{ 'privacy-policy' | translate }}</span>
                    </div>
                    <div class="center">
                        <span routerLink="/reset-password-mail">{{ 'forgot-password' | translate }}</span>
                    </div>
                </div>
        
                <div class="button-container row gap-10">
                    <div role="button" tabindex="0" class="btn-primary" (click)="checkLogin(emailOrName, password)">
                        <span>{{ 'login' | translate }}</span>
                    </div>
                    <div role="button" tabindex="0" class="btn-secondary" (click)="checkLogin('Guest', 'Guest123!')">
                        <span>{{ 'guest' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
