<div class="section-container column gap-30 fade-in-up" (click)="closeCategory(); closeBudgtes()" [ngClass]="{ 'dark-mode': theme.isDarkmode }">
    <div class="heading-container between">
        <h1>{{ 'categories' | translate }}</h1>

        <div class="row align-center gap-10">
            <div role="button" tabindex="0" class="btn-primary row gap-10 align-center" [class.isInactive]="activeCategoryId == ''" (click)="openDialog('edit-category')">
                <img src="img/edit.svg">
                <span>{{ 'edit' | translate }}</span>
            </div>

             @if(data.budgetsArray.length) {
                 <div role="button" tabindex="0" class="btn-primary row gap-10" (click)="openDialog('add-category')">
                     <span>+</span>
                     <span>{{ 'add' | translate }}</span>
                 </div>
             }
        </div>
    </div>

    <div class="content-container column gap-25">
        @if(!data.budgetsArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'create-budget-first' | translate }}</h4>
            </div>
        } @else if(!data.categoriesArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'no-categories-yet' | translate }}</h4>
            </div>
        } @else {
            <div class="select-budget-container row between">
                <div class="row gap-15 align-center">
                    <h4>{{ 'active-budget' | translate }}:</h4>
                    <div class="dropdown" [class.active]="isDropdownOpened">
                        <div (click)="toggleBudgets($event)" class="dropdown-btn data">{{ data.selectedBudget?.name }}</div>
                        <ul class="dropdown-menu frequency">
                            @for(budget of data.budgetsArray; track budget) {
                                <li (click)="data.selectBudget(budget); toggleBudgets($event)">
                                    <span>{{ budget.name }}</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="row gap-15 align-center">
                    <h4>{{ 'available-for-new-categories' | translate }}: </h4>
                    <div class="txt-green number">+ {{utils.formatNumber(calculateAvailableBudget())}}</div>
                </div>
            </div>

            @for(category of data.categoriesArray; track category.id) {
                <div class="column between category-container" (click)="toggleActiveCategory($event, category.id)" [class.isActiveCategory]="activeCategoryId === category.id">
                    <div class="row between">
                        <div class="name">{{ category.name }}:</div>
                        <div class="row gap-10 align-center">
                            <div class="number txt-green">+ {{ utils.formatNumber(category.amount) }}</div>
                            @if(activeCategoryId === category.id) {
                                <img class="arrow" [src]="theme.isDarkmode ? 'img/arrow-up-white.svg' : 'img/arrow-up.svg'">
                            } @else {
                                <img class="arrow" [src]="theme.isDarkmode ? 'img/arrow-down-white.svg' : 'img/arrow-down.svg'">
                            }
                        </div>
                    </div>
                    
                    <div class="column between gap-15 information">
                        <div class="row between">
                            <div>{{ 'used' | translate }}:</div>
                            <div class="number txt-red">- {{ utils.formatNumber(calculateCategoryUsed(category)) }}</div>
                        </div>
            
                        <div class="row between">
                            <div>{{ 'available' | translate }}:</div>
                            <div class="number" [class]="(category.amount - calculateCategoryUsed(category)) > 0 ? 'txt-green' : 'txt-red'">
                                {{ (category.amount - calculateCategoryUsed(category)) > 0 ? '+ ' : '- ' }}
                                {{ utils.formatNumber(category.amount - calculateCategoryUsed(category)) }}
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
