<div class="section-container column gap-20" (click)="closeCategory(); closeBudgtes()">
    <div class="heading-container between">
        <h1>Categories</h1>

        <div class="row align-center gap-10">
            <div class="btn-primary row gap-5 align-center" [class.isInactive]="activeCategoryId == ''" (click)="openDialog('edit-category')">
                <img src="img/edit.svg">
                <span>Edit</span>
            </div>

            <div class="btn-primary" (click)="openDialog('add-category')">
                <span>+ Add</span>
            </div>
        </div>
    </div>

    <div class="content-container column gap-30">
        <div class="select-budget-container row gap-15 align-center">
            <h4>Active Budget:</h4>
            <div class="dropdown" [class.active]="isDropdownOpened">
                <div (click)="toggleBudgets($event)" class="dropdown-btn data">{{ data.selectedBudget }}</div>
                <ul class="dropdown-menu frequency">
                    @for(budget of data.selectableBudgets; track budget) {
                        <li (click)="selectBudget(budget); toggleBudgets($event)">
                            <span>{{ budget }}</span>
                        </li>
                    }
                </ul>
            </div>
        </div>

        @for(category of data.categories; track category.id) {
            <div class="column between category-container" (click)="toggleActiveCategory($event, category.id)" [class.isActiveCategory]="activeCategoryId === category.id">
                <div class="row between">
                    <div class="name">{{ category.name }}:</div>
                    <div class="number txt-green">+ {{ utils.formatNumber(category.amount) }}</div>
                </div>
                
                <div class="column between gap-15 information">
                    <div class="row between">
                        <div>Used:</div>
                        <div class="number txt-red">- {{ utils.formatNumber(category.used) }}</div>
                    </div>
        
                    <div class="row between">
                        <div>Available:</div>
                        <div class="number txt-green">+ {{ utils.formatNumber(category.amount - category.used) }}</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
