<nav class="column between">
    <div class="column nav-links-container">
        <div class="row gap-15 nav-row align-center" [class.isActive]="activeNav === 'dashboard'" (click)="setActive('dashboard')" routerLink="/dashboard" routerLinkActive="isActive">
            <img src="img/dashboard.svg">
            <span>Dashboard</span>
        </div>
        <div class="row gap-15 nav-row align-center" [class.isActive]="activeNav === 'budgets'" (click)="setActive('budgets')" routerLink="/budgets" routerLinkActive="isActive">
            <img src="img/budgets.svg">
            <span>Budgets</span>
        </div>
        <div class="row gap-15 nav-row align-center" [class.isActive]="activeNav === 'categories'" (click)="setActive('categories')" routerLink="/categories" routerLinkActive="isActive">
            <img src="img/categories.svg">
            <span>Categories</span>
        </div>
        <div class="row gap-15 nav-row align-center" [class.isActive]="activeNav === 'expenses'" (click)="setActive('expenses')" routerLink="/expenses" routerLinkActive="isActive">
            <img src="img/expenses.svg">
            <span>Expenses</span>
        </div>
    </div>

    <div class="column gap-20 legal-privacy-container">
        <div class="left">
            <span routerLink="/legal-notice" routerLinkActive="isActive">Legal notice</span>
        </div>
        <div class="left">
            <span routerLink="/privacy-policy" routerLinkActive="isActive">Privacy policy</span>
        </div>
    </div>
</nav>
