@use 'variables' as *;

nav {
    height: calc(100vh - 80px);
    width: 30vw;
    max-width: 300px;
    background-color: $wine;
    color: $white;
    padding: 25px 0;
    
    .nav-row {
        height: 60px;
        width: 100%;
        padding: 0 20px;
        font-size: 1.2rem;
        
        &:hover {
            cursor: pointer;
            background-color: $wine-hover;
        }

        img {
            height: 25px;
            width: 25px;
            object-fit: contain;
        }
    }

    .legal-privacy-container {
        width: 100%;
        
        div {
            width: 100%;
            padding: 0 20px;

            span:hover {
                cursor: pointer;
                filter: brightness(0.8);
            }
        }
    }

    .legal-privacy-container span.isActive {
        background-color: transparent;
    }
}

.isActive {
    font-weight: 600;
    background-color: $wine-hover;
}

@media(max-width: 800px) {
    nav {
        width: 100%;
        height: fit-content;
        max-width: unset;
        padding: unset;

        .nav-links-container {
            flex-direction: row;

            .nav-row {
                height: 80px;

                span {
                    font-size: 1rem;
                }
            }
        }

        .legal-privacy-container {
            display: none;
        }
    }
}

@media(max-width: 650px) {
    .nav-links-container .nav-row {
        justify-content: center;

        img {
            height: 30px;
            width: 30px;
        }

        span {
            display: none;
        }
    }
}