@use 'variables' as *;

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/montserrat-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  outline: none;
}

*:hover {
  transition: $transition-medium;
}

html,
body {
  overflow: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

p,
a,
button {
  all: unset;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.txt-center {
  text-align: center;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50%;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

h1 {
  color: $wine;
  font-size: min(14vmin, 3rem);
  font-weight: 600;
}

h2 {
  color: $wine;
  font-size: min(14vmin, 2rem);
  font-weight: 600;
}

h3 {
  color: $wine;
  font-size: min(14vmin, 1.5rem);
  font-weight: 600;
}

h4 {
  color: $wine;
  font-size: min(14vmin, 1.2rem);
  font-weight: 600;
}

$gap-sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 100;

@each $size in $gap-sizes {
  .gap-#{$size} {
    gap: $size * 1px;
  }
}

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type="number"] {
  -ms-appearance: none !important;
}

.checkbox {
  height: 15px;
  width: 15px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
}

.error-message {
  min-height: 1rem;
  font-size: 0.8rem;
  color: $red;
  text-align: center;
}

.confirmation-message {
  min-height: 15vh;
  text-align: center;
}

.section-container {
  height: calc(100vh - 80px);
  width: 100%;
  max-width: 1440px;
  padding: 0 30px 20px;
  overflow: auto;
  background-color: $white;

  .heading-container {
    width: 100%;
    padding-top: 20px;
  }

  .content-container {
    width: 100%;
  }

  .navigation {
    li {
        color: $wine;
        font-weight: 600;
        width: fit-content;
    
        &:hover {
            cursor: pointer;
            filter: brightness(1.5);
        }
    }
  }

  h3[routerLink] {
    width: fit-content;

    &:hover {
        cursor: pointer;
        filter: brightness(1.5);
    }
  }
}



.btn-primary {
  width: fit-content;
  height: fit-content;
  background-color: $wine;
  color: $white;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid $wine;
  border-radius: 999px;

  img {
    height: 15px;
    width: 15px;
    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
    color: $wine;
    background-color: $white;

    img {
      filter: $icon-wine;
    }
  }
}

.btn-secondary {
  width: fit-content;
  height: fit-content;
  background-color: $white;
  color: $wine;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid $wine;
  border-radius: 999px;

  img {
    height: 15px;
    width: 15px;
    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $wine;

    img {
      filter: $icon-wine;
    }
  }
}

.theme-btn {
  padding: 5px 10px;

  img {
      height: 30px;
      width: 20px;
      object-fit: contain;
  
      &:hover {
          cursor: pointer;
      }
  }
}

.isInactive {
  display: none;
}

.line {
  width: 100%;
  height: 2px;
}

.number {
  font-weight: 600;
  min-width: fit-content;
}

.wine {
  color: $wine;
  background-color: $wine;
}

.txt-wine {
  color: $wine;
  background-color: $wine;
}

.gray {
  color: $gray;
  background-color: $gray;
}

.txt-red {
  color: $red !important;
}

.txt-green {
  color: $green !important;
}

.txt-bold {
  font-weight: 600;
}

.d-none {
  display: none;
}

.arrow {
  height: 12px;
  width: 12px;
  object-fit: contain;
}


// Dropdown

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  width: fit-content;
  text-align: center;
  color: $wine;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid $wine;
  border-radius: 999px;
  background-color: $white;
  cursor: pointer;
  transition: background-color 125ms;
  
  &:hover {
    color: $white;
    background-color: $wine;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $white;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: fit-content;
  max-height: 160px;
  overflow: auto;
  margin-top: 5px;
  z-index: 1000;
  padding: 0;
  cursor: pointer;
}

.dropdown-menu li {
  display: flex;
  justify-content: center;
  padding: 5px 15px;
}

.dropdown-menu li img {
  height: 30px;
  width: 20px;
}

.dropdown-menu li span {
  display: block;
  color: #333;
  text-decoration: none;
  transition: background-color 125ms, color 125ms;
}

.dropdown-menu li:hover {
  background-color: $wine;
}

.dropdown-menu li:hover span {
  color: $white;
}
  
.dropdown.active .dropdown-menu {
  display: block;
}  

.dropdown-menu.frequency li span {
  padding: 5px 10px;
  width: max-content;
  font-weight: 600;
}


// DIALOG

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #00000020;
  backdrop-filter: blur(2px);
  z-index: 998;
  
}

.card {
  height: 70vh;
  width: 90%;
  max-width: 700px;
  max-height: 500px;
  background-color: $white;
  border: none;
  border-radius: 20px;
  padding: 30px;
  overflow: auto;

  .input-container {
      width: 100%;

      label {
          width: 50%;
          max-width: 350px;
          color: $wine;
          font-weight: 600;
          font-size: 0.8rem;
      }

      input {
          width: 50%;
          max-width: 350px;
          padding: 10px 20px;
          border: 1px solid $gray;
          border-radius: 999px;
          font-size: 1rem;
      }

      .dropdown {
          width: 100%;
          display: flex;
          justify-content: center;
          
          .dropdown-btn {
              width: 50%;
              max-width: 350px;
          }
          
          ul {
              width: 50%;
              max-width: 350px;
              left: unset;
          }
      }
  }
}

.content-container section {
  height: 100%;
  width: 100%;

  .links span {
      color: $wine;
      font-weight: 600;
      text-align: center;

      &:hover {
          cursor: pointer;
          filter: brightness(1.6);
      }
  }
}

.access {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  max-height: 500px;
  box-shadow: 5px 5px 10px $gray;

  input {
    width: 100%;
    max-width: 350px;
    padding: 10px 20px;
    border: 1px solid $gray;
    border-radius: 999px;
    font-size: 1rem;
  }
}

.access-container .content-container {
  height: calc(100vh - 80px);
}

.no-budgets-message-container {
  height: 90%;
  width: 100%;
  height: calc(100vh - 80px - 200px);
}

.privacy-policy-container {
  ul {
    margin: 10px 0;

    li {
      margin: 10px 0;
    }
  }

  h3, h4 {
    margin: 30px 0 10px 0;
  }

  a {
    color: $wine;

    &:hover {
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
}


// LOADING SPINNER

.spinner-container {
  height: calc(100vh - 80px);
  width: 100%;

  .spinner {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: conic-gradient($wine, $white);
    border-radius: 999px;
    animation: spin 750ms linear infinite;
    
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80px;
      width: 80px;
      border-radius: 999px;
      background-color: $white;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fade-in-up {
  animation: fadeInUp 250ms ease-out forwards;
}

.fade-in-right {
  animation: fadeInRight 150ms ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media(max-width: 800px) {
  .section-container  {
    height: calc(100vh - 80px - 80px);
    padding: 0 3% 20px;
  }

  label {
      width: 100% !important;
  }

  input {
      width: 100% !important;
      padding: 10px 20px !important;
  }

  .dropdown {
      .dropdown-btn {
          width: 100% !important;
      }
      
      ul {
          width: 100% !important;
          min-width: fit-content;
      }
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: min(14vmin, 2.5rem);
  }

  h4 {
    font-size: min(14vmin, 1rem);
  }


  .nav-content-container .btn-primary,
  .nav-content-container .btn-secondary {
    span:last-of-type:not(.delete-account) {
      display: none;
    }

    img {
      height: 20px !important;
      width: 10px !important;
    }
  }
}

@media(max-width: 400px) {
  .card {
      padding: 25px 20px;
  }

  .button-container {
      justify-content: center;
  }
}



// DARK MODE SECTION
.app-content.dark-mode {
  background-color: $darkmode;
}

.nav.dark-mode, .header.dark-mode {
  background-color: $wine-light
}

.section-container.dark-mode {
  background-color: $darkmode;
  color: $white;
}

.access-container.dark-mode {
  background-color: $darkmode;
}

.dark-mode {
  h1, h2, h3, h4, li, a {
    color: $wine-light !important;
  }

  .nav-row {
    background-color: $wine-light;

    &:hover {
      background-color: $wine !important;
    }
  }

  .nav-row.isActive {
    background-color: $wine;
  }

  .btn-primary {
    border-color: $wine-light;
    background-color: $wine-light;

    &:hover {
      color: $white;
      background-color: $darkmode;

      img {
        filter: $icon-white
      }
    }
  }

  .btn-secondary {
    color: $white;
    background-color: $darkmode;
    border-color: $wine-light;

    img {
      filter: $icon-white;
    }
  
    &:hover {
      background-color: $wine-light;
    }
  }

  .dropdown-btn {
    border-color: $wine-light;
    background-color: $darkmode;
    color: $white;
    
    &:hover {
      color: $white;
      background-color: $wine-light;
    }
  }
  
  .dropdown-menu {
    background-color: $darkmode
  }
  
  .dropdown-menu li span {
    color: $white;
  }

  .dropdown-menu li:hover {
    background-color: $wine-light;
  }

  .table-head {
    background-color: $darkmode !important;
  }

  input {
    background-color: $darkmode;
    color: $white;
  }

  .img-container:hover {
    background-color: $darkmode-hover !important;
  }

  .single-expense {
    &:hover {
      background-color: $darkmode-hover !important;
      
      .header {
        background-color: $darkmode-hover !important;
        transition: $transition-medium;
      }
    }
  }

  .card {
    background-color: $darkmode;
    color: $white;
    box-shadow: 5px 5px 10px $box-shadow-dark;

    label {
      color: $white;
    }
    
    .links span {
      color: $wine-light;
    }
  }

  .confirmation-card {
    background-color: $darkmode;

    h4 {
      color: $white;
    }
  }

  .spinner {
    background-image: conic-gradient($wine-light, $darkmode);
    
    &::after {
      background-color: $darkmode;
    }
  }

  .content-container, .header {
    background-color: $darkmode;
  }

  .link {
    color: $wine-light !important;
  }

  .reset-filter img {
    filter: $icon-white;
  }
}
