@use 'variables' as *;

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  outline: none;
}

*:hover {
  transition: all 125ms ease-in-out;
}

html,
body {
  overflow: auto !important;
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #f0f0f0;
  font-family: 'Montserrat';
}

body {
  display: flex;
  flex-direction: column;
}

p,
a,
button {
  all: unset;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.txt-center {
  text-align: center;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 100%;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

h1 {
  color: $wine;
  font-size: min(14vmin, 3rem);
  font-weight: 600;
}

h2 {
  color: $wine;
  font-size: min(14vmin, 2rem);
  font-weight: 600;
}

h3 {
  color: $wine;
  font-size: min(14vmin, 1.5rem);
  font-weight: 600;
}

h4 {
  color: $wine;
  font-size: min(14vmin, 1.2rem);
  font-weight: 600;
}

$gap-sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 100;

@each $size in $gap-sizes {
  .gap-#{$size} {
    gap: $size * 1px;
  }
}

/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: none;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type="number"] {
  -ms-appearance: none !important;
}

.checkbox {
  height: 15px;
  width: 15px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
}

.error-message {
  min-height: 1rem;
  font-size: 0.8rem;
  color: $red;
  text-align: center;
}

.confirmation-message {
  min-height: 15vh;
  text-align: center;
}


// CONTENT CONTAINER

.section-container {
  height: calc(100vh - 80px);
  width: 100%;
  max-width: 1440px;
  padding: 20px 30px;

  .heading-container {
    width: 100%;
  }

  .content-container {
    height: 100%;
    max-height: 70vh;
    width: 100%;
    overflow: auto;
  }

  .navigation {
    li {
        color: $wine;
        font-weight: 600;
        width: fit-content;
    
        &:hover {
            cursor: pointer;
            filter: brightness(1.5);
        }
    }
  }

  h3[routerLink] {
    width: fit-content;

    &:hover {
        cursor: pointer;
        filter: brightness(1.5);
    }
  }
}

.btn-primary {
  width: fit-content;
  height: fit-content;
  background-color: $wine;
  color: $white;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid $wine;
  border-radius: 999px;

  img {
    height: 15px;
    width: 15px;
    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
    color: $wine;
    background-color: $white;

    img {
      filter: $icon-wine;
    }
  }
}

.btn-secondary {
  width: fit-content;
  height: fit-content;
  background-color: $white;
  color: $wine;
  font-weight: 600;
  padding: 10px 15px;
  border: 2px solid $wine;
  border-radius: 999px;

  img {
    height: 15px;
    width: 15px;
    object-fit: contain;
  }

  &:hover {
    cursor: pointer;
    color: $white;
    background-color: $wine;

    img {
      filter: $icon-wine;
    }
  }
}

.isInactive {
  display: none;
}

.line {
  width: 100%;
  height: 2px;
}

.number {
  font-weight: 600;
  min-width: fit-content;
}

.wine {
  color: $wine;
  background-color: $wine;
}

.txt-wine {
  color: $wine;
  background-color: $wine;
}

.gray {
  color: $gray;
  background-color: $gray;
}

.txt-red {
  color: $red !important;
}

.txt-green {
  color: $green !important;
}

.d-none {
  display: none;
}


// Dropdown

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  width: fit-content;
  text-align: center;
  color: $wine;
  font-size: 1rem;
  padding: 10px 20px;
  border: 2px solid $wine;
  border-radius: 999px;
  background-color: $white;
  cursor: pointer;
  transition: background-color 125ms;
  
  &:hover {
    color: $white;
    background-color: $wine;
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $white;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: fit-content;
  max-height: 160px;
  overflow: auto;
  margin-top: 5px;
  z-index: 1000;
  padding: 0;
  cursor: pointer;
}

.dropdown-menu li {
  padding: 5px 15px;
}

.dropdown-menu li img {
  height: 30px;
  width: 20px;
}

.dropdown-menu li span {
  display: block;
  color: #333;
  text-decoration: none;
  transition: background-color 125ms, color 125ms;
}

.dropdown-menu li:hover {
  background-color: $wine;
}

.dropdown-menu li:hover span {
  color: $white;
}
  
.dropdown.active .dropdown-menu {
  display: block;
}  

.dropdown-menu.frequency li span {
  padding: 5px 10px;
  width: max-content;
}


// DIALOG

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #00000020;
  backdrop-filter: blur(2px);
  z-index: 998;
  
}

.card {
  height: 70vh;
  width: 90%;
  max-width: 700px;
  max-height: 500px;
  background-color: $white;
  border: none;
  border-radius: 20px;
  padding: 30px;

  .input-container {
      width: 100%;

      label {
          width: 50%;
          max-width: 350px;
          color: $wine;
          font-weight: 600;
          font-size: 0.8rem;
      }

      input {
          width: 50%;
          max-width: 350px;
          padding: 10px 20px;
          border: 1px solid $gray;
          border-radius: 999px;
          font-size: 1rem;
      }

      .dropdown {
          width: 100%;
          display: flex;
          justify-content: center;
          
          .dropdown-btn {
              width: 50%;
              max-width: 350px;
          }
          
          ul {
              width: 50%;
              max-width: 350px;
              left: unset;
          }
      }
  }
}

.content-container section {
  height: 100%;
  width: 100%;

  .links span {
      color: $wine;
      font-weight: 600;
      text-align: center;

      &:hover {
          cursor: pointer;
          filter: brightness(1.6);
      }
  }
}

.access {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  max-height: 500px;
  box-shadow: 5px 5px 10px $gray;

  input {
    width: 100%;
    max-width: 350px;
    padding: 10px 20px;
    border: 1px solid $gray;
    border-radius: 999px;
    font-size: 1rem;
  }
}

.no-budgets-message-container {
  height: 90%;
  width: 100%;
}

.privacy-policy-container {
  ul {
    margin: 10px 0;

    li {
      margin: 10px 0;
    }
  }

  h3, h4 {
    margin: 30px 0 10px 0;
  }

  a {
    color: $wine;

    &:hover {
      cursor: pointer;
      filter: brightness(1.5);
    }
  }
}

.fade-in-up {
  animation: fadeInUp 250ms ease-out forwards;
}

.fade-in-right {
  animation: fadeInRight 150ms ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media(max-width: 800px) {
  .section-container  {
    height: 100%;
    padding: 15px 3% 0;
    max-height: 77vh;
  }

  .help-container {
    max-height: calc(100vh - 80px - 80px - 100px) !important;
  }

  section .content-container .section-container {
    max-height: unset;
  }

  label {
      width: 100% !important;
  }

  input {
      width: 100% !important;
      padding: 10px 20px !important;
  }

  .dropdown {
      .dropdown-btn {
          width: 100% !important;
      }
      
      ul {
          width: 100% !important;
          min-width: fit-content;
      }
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: min(14vmin, 2.5rem);
  }

  h4 {
    font-size: min(14vmin, 1rem);
  }


  .nav-content-container .btn-primary,
  .nav-content-container .btn-secondary {
    span:last-of-type:not(.delete-account) {
      display: none;
    }

    img {
      height: 20px !important;
      width: 10px !important;
    }
  }
}

@media(max-width: 400px) {
  .card {
      padding: 25px 20px;
  }

  .button-container {
      justify-content: center;
  }
}