<div class="section-container column gap-30">
    <div class="heading-container">
        <h1>Legal notice</h1>
    </div>

    <div class="content-container column">
        <div class="column gap-30 legal-notice-segments">
            <div class="column gap-20">
                <div class="column gap-10">
                    <span>Lukas Busch</span>
                    <span>Calle 41 595</span>
                    <span>97000 Merida</span>
                    <span data-lang="mexico">Mexico</span>
                </div>
            </div>
        
            <div class="column gap-20">
                <h2 data-lang="legal-notice-heading-3">Contact</h2>
                <div class="column gap-10">
                    <div class="row gap-10">
                        <span data-lang="phone">Phone: </span><a href="tel:+529993518061">+52 999 351 80 61</a>
                    </div>
                    <span>
                        Email: 
                        <a href="mailto: webdeveloper@lukasbusch.dev">webdeveloper&#64;lukasbusch.dev</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
