@use 'variables' as *;

.legal-notice-container {
    padding: 0 5% 40px;
    width: 100%;
    gap: 80px;
}

.legal-notice-segments {
    justify-content: space-between;
}

a, span {
    font-family: $textfont;
}

a {
    color: $wine;

    @media(hover: hover) {
        &:hover {
            cursor: pointer;
            filter: brightness(1.6);
            transition: $transition-medium;
        }
    }
}

#back {
    margin: 20px 0 20px 5%;
    height: 30px;
    width: 30px;
    cursor: pointer;

    @media(hover: hover) {
        &:hover {
            filter: brightness(1.6);
            transition: $transition-medium;
        }
    }
}

@media(max-width: 800px) {  
    .legal-notice-container {
        gap: 20px;
        height: 100%;
    }

    .legal-notice-container h2 {
        font-weight: 600 !important;
    }
}

@media(max-width: 550px) {
    .legal-notice-container {
        align-items: flex-start;
    }
}

@media(max-width: 400px) {
    a, span {
        font-size: 0.8rem;
    }
}

@media(min-width: 1440px) {
    .legal-notice-container {
        align-items: center;
        min-height: 85vh;
        justify-content: center;
    }

    .legal-notice-segments {
        justify-content: center;
        max-height: 400px;
    }
}
  