@use 'variables' as *;

.link {
    color: $wine;

    &:hover {
        cursor: pointer;
        filter: brightness(1.6);
    }
}

.access {
    max-height: unset;
}

.input-error-container {
    max-width: 250px;
}

.accept {
    cursor: pointer;
}