<section class="center">
    <div class="card access column gap-30 center">
        <div class="center">
            <h2>Signup</h2>
        </div>

        <div class="column gap-20 center">
            <input type="text" placeholder="Username...">
            <input type="text" placeholder="Email...">
            <input type="text" placeholder="Password...">
            <input type="text" placeholder="Repeat password...">
            
            <div class="row gap-15">
                <img src="">
                <span>I accept <span class="link" routerLink="access-privacy-policy">privacy policy</span></span>
            </div>
        </div>

        <div class="links row gap-15">
            <span routerLink="/access-legal-notice">Legal notice</span>
            <span routerLink="/access-privacy-policy">Privacy policy</span>
        </div>

        <div class="button-container row gap-10">
            <div class="btn-primary">
                <span>Signup</span>
            </div>
        </div>
    </div>
</section>