<div class="section-container column gap-30 fade-in-up" (click)="closeBudgtes()">
    <div class="heading-container between align-center">
        <h1>{{'expenses' | translate }}</h1>
        
        @if(data.categoriesArray.length) {
            <div class="btn-primary row gap-10" (click)="openDialog('add-expense')">
                <span>+</span>
                <span>{{ 'add' | translate }}</span>
            </div>
        }
    </div>

    <div class="content-container column gap-25">
        @if(!data.budgetsArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'create-budget-and-category-first' | translate }}</h4>
            </div>
        } @else if(!data.categoriesArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'no-categories-yet' | translate }}</h4>
            </div>
        } @else if(!data.expensesArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'no-expenses-yet' | translate }}</h4>
            </div>
        } @else {
            @if(data.selectedBudget) {
                <div class="w-100 row between">
                    <div class="select-budget-container row gap-15 align-center">
                        <h4>{{'active-budget' | translate }}:</h4>
                        <div class="dropdown" [class.active]="isDropdownOpened">
                            <div (click)="toggleBudgets($event)" class="dropdown-btn data">{{ data.selectedBudget.name }}</div>
                            <ul class="dropdown-menu frequency">
                                @for(budget of data.budgetsArray; track $index) {
                                    <li (click)="data.selectBudget(budget); toggleBudgets($event)">
                                        <span>{{ budget.name }}</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="btn-secondary filter row gap-10 align-center" (click)="toggleFilter()">
                        <img src="img/filter.svg">
                        <span>{{ 'filter' | translate }}</span>
                    </div>
                </div>

                @if(isFilterVisible) {
                    <div class="filter-container">
                        <div class="input-container">
                            <input type="text" [(ngModel)]="filterInputValue" [placeholder]="'search' | translate" (keyup)="getInput($event)">
                            @if(filterInputValue.length) {
                                <div class="img-container center" (click)="resetFilterInputValue(); data.resetFilter()">
                                    <img src="img/delete.svg">
                                </div>
                            }
                        </div>
                    </div>
                }
    
                <div class="row start">
                    <div class="row gap-15 align-center">
                        <h4>{{ 'current-available' | translate }}:</h4>
                        <span class="number" [class]="data.calculateCurrentAvailable() > 0 ? 'txt-green' : 'txt-red'">
                            {{ data.calculateCurrentAvailable() > 0 ? '+ ' : '- ' }}
                            {{ utils.formatNumber(data.calculateCurrentAvailable()) }}</span>
                    </div>
                </div>
    
                <div class="column table gap-20">
                    <div class="column gap-10 sticky">
                        <div class="row between header gap-15">
                            <div class="row between align-center">
                                <h4>{{ 'name' | translate }}</h4>
                                <img src="img/sort.svg" (click)="sortExpensesByName()">
                            </div>
                            <div class="row between align-center">
                                <h4>{{ 'category' | translate }}</h4>
                                <img src="img/sort.svg" (click)="sortExpensesByCategory()">
                            </div>
                            <div class="row between align-center">
                                <h4>{{ 'amount' | translate }}</h4>
                                <img src="img/sort.svg" (click)="sortExpensesByAmount()">
                            </div>
                        </div>
                    
                        <div class="line wine"></div>
                    </div>
    
                    <div class="column gap-5">
                        @for (expense of data.filteredExpenses; track $index) {
                            <div class="row between header gap-15 single-expense" (click)="openDialog('edit-expense', expense.id, expense.category)">
                                <div>{{ expense.name }}</div>
                                <div>{{ expense.category }}</div>
                                <div class="number txt-red">- {{ utils.formatNumber(expense.amount) }}</div>
                            </div>
                        
                            <div class="line gray"></div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
