<div class="section-container column gap-30 fade-in-up" (click)="closeBudgtes()">
    <div class="heading-container between align-center">
        <h1>{{'expenses' | translate }}</h1>
        
        @if(data.categoriesArray.length) {
            <div class="btn-primary row gap-10" (click)="openDialog('add-expense')">
                <span>+</span>
                <span>{{ 'add' | translate }}</span>
            </div>
        }
    </div>

    <div class="content-container column gap-25">
        @if(!data.budgetsArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'create-budget-and-category-first' | translate }}</h4>
            </div>
        } @else if(!data.categoriesArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'no-categories-yet' | translate }}</h4>
            </div>
        } @else if(!data.expensesArray.length) {
            <div class="center no-budgets-message-container center">
                <h4>{{ 'no-expenses-yet' | translate }}</h4>
            </div>
        } @else {
            @if(data.selectedBudget) {
                <div class="select-budget-container row gap-15 align-center">
                    <h4>{{'active-budget' | translate }}:</h4>
                    <div class="dropdown" [class.active]="isDropdownOpened">
                        <div (click)="toggleBudgets($event)" class="dropdown-btn data">{{ data.selectedBudget.name }}</div>
                        <ul class="dropdown-menu frequency">
                            @for(budget of data.budgetsArray; track $index) {
                                <li (click)="data.selectBudget(budget); toggleBudgets($event)">
                                    <span>{{ budget.name }}</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
    
                <div class="row start">
                    <!-- <div class="btn-secondary" (click)="toggleFilter()">Filter</div> -->
    
                    <div class="row gap-15 align-center">
                        <h4>{{ 'current-available' | translate }}:</h4>
                        <span class="number txt-green">+ {{ utils.formatNumber(data.calculateCurrentAvailable()) }}</span>
                    </div>
                </div>
                <!-- @if(isFilterVisible) {
                    <div class="row align-center between filter-container gap-10">
                        <div class="row gap-5 text-search">
                            <input type="text" placeholder="Name...">
                            <input type="text" placeholder="Category...">
                        </div>
    
                        <div class="row gap-5 number-search">
                            <input type="number" placeholder="Min.">
                            <input type="number" placeholder="Max.">
                        </div>
    
                        <div class="btn-secondary">
                            <span>{{ 'Apply' | translate }}</span>
                        </div>
                    </div>
                } -->
    
                <div class="column table gap-20">
                    <div class="column gap-10">
                        <div class="row between header gap-15">
                            <div class="row between align-center">
                                <h4>{{ 'name' | translate }}</h4>
                                <img src="img/sort.svg">
                            </div>
                            <div class="row between align-center">
                                <h4>{{'category' | translate }}</h4>
                                <img src="img/sort.svg">
                            </div>
                            <div class="row between align-center">
                                <h4>{{'amount' | translate }}</h4>
                                <img src="img/sort.svg">
                            </div>
                        </div>
                    
                        <div class="line wine"></div>
                    </div>
    
                    <div class="column gap-5">
                        @for (expense of data.expensesArray; track $index) {
                            <div class="row between header gap-15 single-expense" (click)="openDialog('edit-expense', expense.id, expense.category)">
                                <div>{{ expense.name }}</div>
                                <div>{{ expense.category }}</div>
                                <div class="number txt-red">- {{ utils.formatNumber(expense.amount) }}</div>
                            </div>
                        
                            <div class="line gray"></div>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
