@use 'variables' as *;

section {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 10px 30px;
    transition: $transition-medium;
    
    .header {
        height: 80px;
        transition: $transition-medium;
        
        .logo {
            height: unset;
            width: 20vw;
            max-width: 100px;
        }
    
        .help {
            height: 40px;
            width: 40px;

        }
    }

    .mobile-language {
        display: none;
        padding-bottom: 15px;
    }

    .dropdown-menu {
        right: 0 !important;
        left: unset;
    }
}

.theme-btn:hover img {
    filter: $icon-white;
}

@media(max-width: 800px) {
    section {
        height: 100dvh;
    }
}

@media(max-width: 600px) {
    .content-container {
        height: calc(100% - 80px - 60px) !important;
    }

    .btn-container .data-row{
        display: none;
    }

    .mobile-language {
        display: flex !important;
    }
}

@media(max-width: 400px) {
    section {
        padding: 3% 2vh;
    }
}

@media(min-height: 650px) {
    .content-container {
        height: calc(100vh - 80px);
    }
}