<section (click)="language.closeLanguages()" class="access-container" [ngClass]="{ 'dark-mode': theme.isDarkmode }">
    <div class="header row between">
        <div class="center">
            <img class="logo" src="img/logo.svg">
        </div>
        <div class="row gap-15 align-center btn-container">
            <div role="button" tabindex="0" class="btn-secondary center theme-btn" (click)="theme.toggleThemeMode()">
                <img [src]="theme.isDarkmode ? 'img/lightmode-red.svg' : 'img/darkmode-red.svg'">
            </div>
            <div class="align-center data-row gap-15">
                <div class="dropdown" [class.active]="language.isDropdownOpened">
                    <div (click)="language.toggleLanguages($event)" class="dropdown-btn data">{{ language.selectedLanguage }}</div>
                    <ul class="dropdown-menu frequency">
                        @for(selectableLanguage of language.selectableLanguages; track selectableLanguage) {
                            <li (click)="language.selectLanguage(selectableLanguage); language.toggleLanguages($event)">
                                <span>{{ selectableLanguage }}</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row gap-15 align-center">
                <div role="button" tabindex="0" class="btn-primary" [routerLink]="router.url === '/login' ? '/signup' : '/login'">
                    <span>{{ (router.url === '/login' ? 'signup' : 'login') | translate }}</span>
                </div>
                <div role="button" tabindex="0" class="center help btn-primary" routerLink="/access-help">
                    <span>?</span>
                </div>
            </div>
        </div>
    </div>

    <div class="align-center data-row mobile-language w-100 right gap-15">
        <div class="dropdown" [class.active]="language.isDropdownOpened">
            <div (click)="language.toggleLanguages($event)" class="dropdown-btn data">{{ language.selectedLanguage }}</div>
            <ul class="dropdown-menu frequency">
                @for(selectableLanguage of language.selectableLanguages; track selectableLanguage) {
                    <li (click)="language.selectLanguage(selectableLanguage); language.toggleLanguages($event)">
                        <span>{{ selectableLanguage }}</span>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="content-container" (click)="language.closeLanguages()">
        <router-outlet></router-outlet>
    </div>
</section>
